<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>carTopiary</title>

	<!-- STYLESHEETS -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/css/styles.css">

	<!-- VENDOR SCRIPTS -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- APPLICATION SCRIPTS -->

	<script src="../public/js/app.js"></script>
</head>

<body>
	<div class="jumbotron">
		<h1>Welcome to carTopiary</h1>
		<img src="http://i.imgur.com/nRmZkgE.jpg" height=300px>
		<img src="http://i.imgur.com/KHm9C4H.jpg" height=300px>
		<img src="http://i.imgur.com/epE8RI9.jpg" height=300px>
		<img src="http://i.imgur.com/2IRA3E9.jpg" height=300px>
		
		<!--  -->
		<!-- Could not get public images to load, forced to use URLs -->
		<!-- <img src="/public/images/left.jpg" height=300px> -->
		<!-- <img src="/public/images/centerleft.jpg" height=300px> -->
		<!-- <img src="/public/images/centerright.jpg" height=300px> -->
		<!-- <img src="/public/images/right.jpg" height=300px> -->
		<!--  -->
	</div>

	<div class="filters">
		<div class="col-md-3 text-left" id="filters">
			<h2>Vehicle Filters</h2>
			<ul>
				<li>Make</li>
				<li>Model</li>
				<li>Year</li>
				<li>Color</li>
				<li>Style</li>
				<li>Transmission</li>
			</ul>
		</div>
	</div>

	<div class="results">
		<div class="col-md-9 text-center" id="results">
		</div>
	</div>	
</body>
</html>