<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>carTopiary</title>

	<!-- STYLESHEETS -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/styles.css">
  
  <style type="text/css">body, a:hover {cursor: url(http://cur.cursors-4u.net/mechanics/mec-4/mec362.cur), progress !important;}</style><a href="http://www.cursors-4u.com/cursor/2009/12/20/lamborghini-logo.html" target="_blank" title="Lamborghini Logo"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Lamborghini Logo" style="position:absolute; top: 0px; right: 0px;" /></a>



	<!-- VENDOR SCRIPTS -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- APPLICATION SCRIPTS -->

	<script src="js/app.js"></script>
</head>

<body>
	<div class="jumbotron	">
		<h1>Welcome to carTopiary</h1>
		<img src="/images/left.jpg" height=300px>
		<img src="/images/centerleft.jpg" height=300px>
		<img src="/images/centerright.jpg" height=300px>
		<img src="/images/right.jpg" height=300px>
	</div>

    <!-- BEGIN FORM SAMPLE -->

    <section id="prospect-form" class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <form class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <legend>Add New Prospect</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Prospect Name</label>
              <div class="col-md-4">
              <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="" autofocus>

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="phone">Prospect Phone (format: 5551112222)</label>
              <div class="col-md-4">
              <input id="phone" name="phone" type="tel" pattern="^\d{10}$" placeholder="1234567890" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Prospect Email</label>
              <div class="col-md-4">
              <input id="email" name="email" type="text" placeholder="Email address" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="address">Prospect Address</label>
              <div class="col-md-4">
              <input id="address" name="address" type="text" placeholder="Mailing address" class="form-control input-md">

              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Save Prospect</label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary"><strong>DO. OR DO NOT.<br>THERE IS NO TRY</strong></button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
    </section>

     <!--   END FORM SAMPLE -->

	<div class="prospects">
		<div class="col-md-8 col-md-offset-2" id="prospects">
		</div>
	</div>

    <!-- begin carModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="newCarModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Please describe the car you are interested in:</h4>
          </div>
          <div class="modal-body">
            <fieldset class='form-horizontal'>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="make" autofocus>Car Make</label>
              <div class="col-xs-8">
              <input id="carMake" name="carMake" type="text" placeholder="eg: AM General" class="form-control input-md" autofocus required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="model">Car Model</label>
              <div class="col-xs-8">
              <input id="carModel" name="carModel" type="text" placeholder="eg: Hummer H1 Alpha" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="year">Car Year (format: ####)</label>
              <div class="col-xs-8">
              <input id="carYear" name="carYear" type="number" maxlength="4" placeholder="eg: 2006" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="color">Car Color</label>
              <div class="col-xs-8">
              <input id="carColor" name="carColor" type="text" placeholder="eg: Matte Black" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="style">Car Style</label>
              <div class="col-xs-8">
              <input id="carStyle" name="carStyle" type="text" placeholder="eg: Jack Bauer Edition; or 'Sedan'" class="form-control input-md" required="">

              </div>
            </div>

            </fieldset>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveNewCar">Save new car</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


	<!-- Modal to edit a single prospect's Wishlist items (cars) -->
	<div class="modal fade" id="editCarsModal" tabindex="-1" role="dialog" aria-labelledby="editCarsModalTitle">
		<div class="modal-dialog bs-modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="editCarsModalTitle">Edit Cars</h4>
				</div>
				<div class="modal-body" id="editCarsModalBody">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</body>
</html>