.jumbotron {
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	background-color: black;
	color: white;
	text-align: center;
}

img {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
	font-size: 40px;
	margin-top: 0px;
}

#singlebutton {
	/*Yoda's rgb values*/
	background-color: rgb(109,135,77);
}

.save-edits {
	display: none;
}

/* Saved for version 2.0
#filters {
	background-color: gray;
	color: white;
	font-size: 20px;
}*/